<input [(ngModel)]="userSelection"
    [typeahead]="typeAheadValues"
    [typeaheadMinLength]="typeaheadMinLength"
    [typeaheadSingleWords]="typeaheadSingleWords"
    [typeaheadScrollable]="typeaheadScrollable"
    [typeaheadOptionsInScrollableView]="typeaheadOptionsInScrollableView"
    [typeaheadHideResultsOnBlur]="typeaheadHideResultsOnBlur"
    (typeaheadOnSelect)="onTypeAheadSelect($event)"
    class="form-control"
    >

<ng-template #template>
    <div class="modal-header">
        <h2 class="modal-title pull-left">{{objectBuilderTitle}}</h2>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form class="form-group" [formGroup]="objectBuilderForm">
            <div formArrayName="inner">
                <div *ngFor="let field of objectBuilder.inner.controls; let i=index">
                    <input 
                        class="form-control" 
                        style="margin: 5px;"
                        type="text" 
                        [formControlName]="i"
                        [placeholder]="objectBuilder.formNames[i]"
                        >
                </div>
            </div>
        </form>
    </div>

    <button style="margin: 5px" class="btn btn-success" (click)="onSubmit()">Submit</button>
    <button style="margin: 5px" class="btn btn-danger" (click)="onCancel()">Cancel</button> 

    </ng-template>
      
