<mat-sidenav-container style="height: 94.75%;">

    <mat-sidenav mode="side" opened>
        <h1>
            Quick Access Tools
        </h1>
        <button class="btn btn-primary" style="margin: 5px;" (click)="addDisconnectedNode()">New Node</button>
        <button class="btn btn-primary" style="margin: 5px;" (click)="addDirectedRelationship()">Add Relationship</button>
        <div *ngFor='let node of selectedNodes'>
            <h3>NodeID: {{node}}</h3> 
            <p>{{displayNode}}</p>
        </div>
    </mat-sidenav>

    <mat-sidenav-content>
        <app-visual-editor (graphListener)="graphListenerEvent($event)" #editor></app-visual-editor>
    </mat-sidenav-content>

</mat-sidenav-container>
