<mat-sidenav-container style="height: 94.5%;">
    <mat-sidenav mode="side" opened>
        <div>
            <h1>
                Quick Access Tools
            </h1>
            <app-visual-builder></app-visual-builder>
        </div>        
        <hr>
        <br>
        <div *ngIf="globallySelected.selectedNodes.length > 0 || globallySelected.selectedLinks.length > 0">
            <app-visual-editor></app-visual-editor>
        </div>

        <div *ngIf='globallySelected.selectedNodes.length > 0' style="left: 0; bottom: 0; position: absolute;">
            <app-visual-object-remover></app-visual-object-remover>
        </div>
    </mat-sidenav>

    <mat-sidenav-content>
        <app-visual-graph></app-visual-graph>
    </mat-sidenav-content>

</mat-sidenav-container>
