<mat-sidenav-container style="height: 94.75%;">

    <mat-sidenav mode="side" opened>
        <div>
            <h1>
                Builders
            </h1>
            <app-visual-object-builder></app-visual-object-builder>
        </div>        

        <div style="padding-top: 20px;">
            <h1>
                Editors
            </h1>
            <app-object-editor></app-object-editor>
        </div>
    </mat-sidenav>

    <mat-sidenav-content>
        <app-visual-editor></app-visual-editor>
    </mat-sidenav-content>

</mat-sidenav-container>
