<div *ngFor="let selected of globalSelection.selected">
    <button class="btn btn-primary" style="margin: 5px; width: fit-content;">
        {{selected.prettyID}}
    </button>
</div>

<div *ngIf="displayLinkBuilder()">
    <h1>
        Relationship Editor
    </h1>
    <button class="btn btn-primary" style="margin: 5px;" (click)="addBidirectionalRelationship()">Add Two-Way Relationship</button>
    <button class="btn btn-primary" style="margin: 5px;" (click)="addDirectedRelationship()">Add One-Way Relationship</button>
</div>