<div *ngFor="let selected of globalSelection.selectedNodes">
    <button class="btn btn-primary" style="margin: 5px; width: fit-content;">
        {{selected.prettyID}}
    </button>
</div>

<div *ngFor="let selected of globalSelection.selectedLinks">
    <button class="btn btn-primary" style="margin: 5px; width: fit-content;">
        {{selected.prettyID}}
    </button>
</div>

<div *ngIf="displayLinkBuilder()">
    <h1>
        Relationship Editor
    </h1>
    <button class="btn btn-primary" style="margin: 5px;" (click)="openModal()">Add One-Way Relationship</button>
</div>

<ng-template #template>
    <div class="modal-header">
        <h2 class="modal-title pull-left">{{modalTitle}}</h2>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div *ngIf="!objectBuilder">
        <input [(ngModel)]="userSelectionBuffer"
            [placeholder]="'What kind of relationship is this?'"
            [typeahead]="typeaheadValues"
            [typeaheadMinLength]="typeaheadMinLength"
            [typeaheadSingleWords]="typeaheadSingleWords"
            [typeaheadScrollable]="typeaheadScrollable"
            [typeaheadOptionsInScrollableView]="typeaheadOptionsInScrollableView"
            [typeaheadHideResultsOnBlur]="typeaheadHideResultsOnBlur"
            (typeaheadOnSelect)="onTypeAheadSelect($event)"
            class="form-control"
            style="margin: 20px; width: 425px;"
        >
    </div>

    <div class="modal-body" *ngIf="objectBuilder">
        <form class="form-group" [formGroup]="objectBuilderForm">
            <div formArrayName="inner">
                <div *ngFor="let field of objectBuilder.inner.controls; let i=index">
                    <input 
                        class="form-control" 
                        style="margin: 5px;"
                        type="text" 
                        [formControlName]="i"
                        [typeahead]="globalSelection.getNodePrettyID()"
                        [typeaheadMinLength]="typeaheadMinLength"
                        [typeaheadSingleWords]="typeaheadSingleWords"
                        [typeaheadScrollable]="typeaheadScrollable"
                        [typeaheadOptionsInScrollableView]="typeaheadOptionsInScrollableView"
                        [typeaheadHideResultsOnBlur]="typeaheadHideResultsOnBlur"
                        [placeholder]="objectBuilder.formNames[i]"
                        >
                </div>
            </div>
        </form>
    </div>

    <button style="margin: 5px" class="btn btn-success" (click)="onDirectedSubmit()">Directed Relationship</button>
    <button style="margin: 5px" class="btn btn-danger" (click)="onCancel()">Cancel</button> 

    </ng-template>
